<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>

<body>
    <div class="mx-auto border border-primary border-2 w-50 px-2 mt-3 font-monospace" style="width: fit-content;">
        <h1 class="text-center">Menu</h1>
        <ul class="list-group list-unstyled text-center">
            <li><a href="./create.html" class="btn btn-outline-primary w-100 my-2 list-group text-center">Create</a>
            </li>
            <li><a href="./read.html" class="btn btn-outline-primary w-100 my-2 list-group">Read</a></li>
            <li><a href="./update.html" class="btn btn-outline-primary w-100 my-2 list-group">Update</a></li>
            <li><a href="./delete.html" class="btn btn-outline-primary w-100 my-2 list-group">Delete</a></li>
        </ul>
        <button onclick="logOut()" class="btn btn-outline-warning w-100 my-2">Cerrar Sesion</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="/main/index.js"></script>
</body>

</html>